!border_color = #788

!feature_color = "green"
!bug_color = "darkRed"
!refactor_color = "darkBlue"

!section_border = #ddd
!bug_background = #fff

!text_color = #333

body
  :font 14px Lucida Grande,Helvetica,Arial,sans-serif !important
  :color= !text_color

body, ul, li
  :margin 0
  :padding 0

body
  :margin 20px

li
  :list-style-type none

#header h1
  :background url(/images/logo.png) no-repeat
  :float left
  :margin-top 0
  :line-height 30px
  :padding-left 50px
  sup
    :font-size 14px

a
  :text-decoration none
  :color inherit

h2
  :clear both

h3
  :border-top= 1px "solid" !section_border
  :clear both
  :color #666
  :display block
  :font-size 12px
  :font-weight normal
  :position relative
  :top -2px
  :width 100%

#session
  :float right
  :margin-right 50px
  li
    :float left
    :padding 4px
  a
    &:hover
      :text-decoration underline

ul#now_tasks,
ul#later_tasks
  :min-height 20px

.task
  :clear both
  :margin-top 5px
  :height 50px
  &:hover
    :background #eee
    .description, .actions
      :opacity 1
  .feature, .bug, .id, .author_id, .assigned_id, .completed_on, .started_on
    :float left
    :padding-right 5px

  .feature a, .refactor a, .bug a
    :display block
    :padding-bottom 1px
    :text-align center
    :width 60px
    :color white

  .feature a
    :background-color= !feature_color
  .refactor a
    :background-color= !refactor_color
  .bug a
    :background-color= !bug_color

  .author_id, .assigned_id, .completed_on, .started_on
    :border-right 1px solid #888
    :margin-right 4px
    :padding-top 2px

  .description, .actions
    :opacity .2

.completed
  :opacity .50

