body
  :font 14px Arial, Sans
  :color #333

body, ul, li
  :margin 0
  :padding 0

body
  :margin 20px

h1
  :background url(/images/logo.png) no-repeat
  :line-height 30px
  :margin-left 20px
  :padding-left 50px
  sup
    :font-size 14px

h3
  :margin-bottom 0

li
  :list-style-type none

.detail
  input
    :width 500px

.id
  :font-size 11px

.info
  :vertical-align top
  li
    :float left

.tasks
  :margin-bottom 20px
  :border 1px solid #788
  :border-bottom none

.task
  :background url(/images/task.png) repeat-x #e3eded
  :border-bottom 1px solid #788
  :border-top 1px solid #fff
  :clear both
  :overflow auto
  :padding 5px
  &.heading
    :background url(/images/heading.png) repeat-x #e5e5e5
    :padding-left 10px

  &.completed
    :color #777
    :background #ddd
    .heading
      :background #eee
      :border-top #ccc

  .feature
    :color #0c0
  .bug
    :color #e00
    :font-weight bold
  .change
    :color #33f

.actions
  :clear both
  li
    :float left
    :padding-top 5px
    :padding-left 20px
    :font-size 12px
    .assigned
      select
        :width 120px
  .related
    select
      :width 230px
  select
    :font-size 11px

