!border_color = #788

!feature_color = #0c0
!bug_color = #e00
!change_color = #22e

!feature_background = #edf5e1
!feature_border = #c8e59f
!bug_background = #efcfcf
!bug_border = #e5686f
!change_background = #ede1f5
!change_border = #a89fe5


!text_color = #333
!link_color = !text_color + #005
!completed_task_color = #ddd
!completed_task_border = #ddd - 30

body
  :font 14px Arial, Sans
  :color= !text_color

body, ul, li
  :margin 0
  :padding 0

body
  :margin 20px

h1
  :background url(/images/logo.png) no-repeat
  :float left
  :margin-top 0
  :line-height 30px
  :padding-left 50px
  sup
    :font-size 14px

h3
  :margin 0
  :float left

#session
  :float right
  :margin-right 50px
span.message
  :background #ff8
  :display none
  :float right
  :font-weight bold
  :padding 2px 50px

span.notice
  :color= !feature_color - 50
span.error
  :color= !bug_color

li
  :list-style-type none

.blur
  :color #777

.add_a_new_task,
h2
  :clear both

#add_new_task
  :cursor pointer
  h3:hover
    :color= !change_color

.name
  input
    :border= 1px solid !border_color + 20
    :border-bottom-color white
    :border-right-color white
    :padding 2px
    :width 700px

.info
  li
    :float left

.tasks
  :margin-bottom 20px

.task
  :background= url(/images/edit.png) "no-repeat" 4px 22px !feature_background
  :border-top= 2px solid !feature_border
  :clear both
  :overflow auto
  :padding 2px
  &.heading
    :background= !feature_border
    :padding-left 10px

  .id
    :padding-left 5px

  .actions a
    :color= !link_color
    :font-weight bold

  .feature a
    :color= !feature_color
  .bug a
    :color= !bug_color
  .change a
    :color= !change_color

  a
    :color= !text_color
    :text-decoration none

.task_new
  :background= !feature_background

.bug
  :background-color= !bug_background
  :border-color= !bug_border

.change
  :background-color= !change_background
  :border-color= !change_border

#completed
  h3
    :color= !text_color
  .task
    :color #777
    :background= !completed_task_color
    :border-top= 2px solid !completed_task_border
    &.heading
      :background= !completed_task_border
      :padding-left 10px
  a,
  .actions a,
  .feature a,
  .bug a,
  .change a
    :color #777


.actions
  :clear both
  li
    :float left
    :padding-top 5px
    :padding-left 20px
    :font-size 11px
    .assigned
      select
        :width 120px
  .related
    select
      :width 230px
  select
    :font-size 11px
  .submit
    :padding-top 3px
  a.not_set
    :color #666

