@import columns.sass
@import buttons.sass

h2#group_title
  background: #eee
  padding: 3px

#groups
  float: left
  width= !sidebar_width
  margin-right= -!sidebar_width - 20px
  border: 5px solid #eee
  text-align: center
  font-size: 75%

.story
  display: block
  margin: 5px

.group
  float: left
  font: 12px arial
  display: inline-block
  min-width: 50px
  padding: 2px 7px
  margin: 2px
  -moz-border-radius: 10px
  -webkit-border-radius: 10px
  color: #222
  &:hover
    cursor: pointer

  &.color_1
    background: #cec
  &.color_2
    background: #69c
  &.color_3
    background: #947
  &.color_4
    background: #977
  &.color_5
    background: #c74
  &.color_6
    background: #99c
  &.color_7
    background: #c77
  &.color_8
    background: #944
  &.color_9
    background: #9ee
  &.color_10
    background: #c9e
  &.color_11
    background: #9ec
  &.color_12
    background: #ce7
  &.color_13
    background: #c7c
  &.color_14
    background: #674
  &.color_15
    background: #97e
  &.color_16
    background: #c97
  &.color_17
    background: #cee
  &.color_18
    background: #994
  &.color_19
    background: #9e7
  &.color_20
    background: #94c
  &.color_21
    background: #c44
  &.color_22
    background: #99e
  &.color_23
    background: #c7e
  &.color_24
    background: #694
  &.color_25
    background: #c47
  &.color_26
    background: #69e
  &.color_27
    background: #ce4
  &.color_28
    background: #974
  &.color_29
    background: #67e
  &.color_30
    background: #997
  &.color_31
    background: #67c
  &.color_32
    background: #c9c
  &.color_33
    background: #6e7
  &.color_34
    background: #697
  &.color_35
    background: #97c
  &.color_36
    background: #c94
  &.color_37
    background: #677
  &.color_38
    background: #9e4

