@import columns.sass
@import buttons.sass

h2#group_title
  background: #eee
  padding: 3px

#groups
  position: fixed
  top: 100px
  right= !sidebar_width + 25px
  float: left
  width= !sidebar_width
  margin-right= -!sidebar_width - 20px
  border: 5px solid #eee
  text-align: right
  font-size: 75%

.story
  display: block

.group
  font: 10px arial
  display: inline-block
  min-width: 50px
  padding: 0 3px
  text-align: center
  margin: 3px
  border: 1px solid #777
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  color: #fff
  &:hover
    cursor: pointer

  &.color_1
    background: #94d1c5
  &.color_2
    background: #a0d194
  &.color_3
    background: #d19494
  &.color_4
    background: #94c5d1
  &.color_5
    background: #94a0d1
  &.color_6
    background: #d1a094
  &.color_7
    background: #c594d1
  &.color_8
    background: #d1d194
  &.color_9
    background: #b994d1
  &.color_10
    background: #d194d1
  &.color_11
    background: #d194c5
  &.color_12
    background: #94d194
  &.color_13
    background: #9494d1
  &.color_14
    background: #94b9d1
  &.color_15
    background: #b9d194
  &.color_16
    background: #a094d1
  &.color_17
    background: #d194a0
  &.color_18
    background: #d1c594
  &.color_19
    background: #d1ac94
  &.color_20
    background: #94d1ac
  &.color_21
    background: #d194ac
  &.color_22
    background: #94d1d1
  &.color_23
    background: #d19494
  &.color_24
    background: #94d1a0
  &.color_25
    background: #94acd1
  &.color_26
    background: #94d1b9
  &.color_27
    background: #c5d194
  &.color_28
    background: #d194b9
  &.color_29
    background: #ac94d1
  &.color_30
    background: #d1b994
  &.color_31
    background: #acd194

