%span.finished
  %span.error= flash[:error]
  = button_to('Finish Release...', finish_release_path(Release.current), :method => :put, :confirm => 'Finish release and email features and bugs completed? This does not include incomplete tasks')

