%li.task{:class => "task_new"}
  - form_for new_task, :builder => CustomFormBuilder, :html => {:class => 'ajaxForm'} do |f|
    %ul.info
      %li
        = f.select :category_id, :collection => @categories, :ajaxSelect => false
        = f.select :when_id, :collection => @whens, :ajaxSelect => false
        = f.text :name

