- if tasks.any?
  %ul
    %li.task.heading
      %h3= heading
      - tasks.each do |task|
        %li.task{:class => task_class(task)}
          - form_for task do |f|
            %ul.info
              - complete(f, task)
              - id(f, task)
              - name(f, task)
              - detail(f, task)
            %ul.actions
              - author(f, task)
              - category(f, task)
              - when_needed(f, task)
              - effort(f, task)
              - f.input :assigned_to, task, task.assigned_to, :collection => @developers
              - f.input :started, task, time_ago_in_words(task.started_on).gsub('about', '')
              - f.input :completed, task, time_ago_in_words(task.completed_on).gsub('about', '')
              - f.input :related, task, task.related, :collection => relateds(task)
              - f.input :submit, task

