%ul.tasks{:class => heading.titleize.gsub(' ', '').underscore}
  %li.task.heading{:id => ('add_new_task' if tasks.any? && tasks.first.new_record?)}
    %h3= heading
    %span.message
    - tasks.each do |task|
      = render task

