%ul.tasks
  - tasks.each_with_index do |task, count|
    = render :partial => task.new_record? ? 'tasks/new_task' : 'tasks/task', :object => task, :locals => {:field => nil}
    - if release_full?(count)
      %li= render :partial => 'release_border'

