%h3
  %span= heading
  = render :partial => 'finish_button' if id == 'now_tasks'
%ul.tasks{:id => id}
  - tasks.each do |task|
    = render :partial => task.new_record? ? 'tasks/new_task' : 'tasks/task', :object => task, :locals => {:field => nil}

