- if tasks.any?
  %ul
    %li.task.heading
      %h3= heading
      - tasks.each do |task|
        %li.task{:class => task_class(task)}
          - form_for task, :builder => CustomFormBuilder do |f|
            %ul.info
              - f.input :completed_on, task, :show => :input
              -# f.input :id, task
              -# f.input :name, task
              -# f.input :detail, task
            %ul.actions
              -# f.input :author_id, task
              -# f.input :category_id, task, :collection => @categories
              -# f.input :when_id, task, :collection => @whens
              -# f.input :effort_id, task, :collection => @efforts
              -# f.input :assigned_id, task, :collection => @developers
              -# f.input :started_on, task, :value => time_ago_in_words(task.started_on).gsub('about', '')
              -# f.input :completed_on, task, :value => time_ago_in_words(task.completed_on).gsub('about', '')
              -# f.input :related_id, task, :collection => relateds(task)
              -# f.input :submit, task

