- if @task.valid?
  == $('.task_new').slideUp()
  - message = "<span class='notice'>Task \"#{@task.name}\" created</span>"
  == $('#new_task .name input').val('')
- else
  - message = "<span class='error'>Task must have a title, category and when<span>"

== $('#add_new_task span.message').html('#{escape_javascript(message)}').effect("pulsate", {times: 2}).delay(4000).fadeOut()

