= render :partial => 'tasks', :object => @now_tasks, :locals => {:heading => 'Tasks that need doing now'}
= render :partial => 'tasks', :object => @soon_tasks, :locals => {:heading => 'Tasks that need doing next'}
= render :partial => 'tasks', :object => @later_tasks, :locals => {:heading => 'Tasking for future planning'}
= render :partial => 'tasks', :object => @completed_tasks, :locals => {:heading => 'Completed Tasks'}
