= render :partial => 'tasks', :object => @now_tasks, :locals => {:heading => 'Tasks for the next release'}
= render :partial => 'tasks', :object => @other_tasks, :locals => {:heading => 'Tasks for a future release'}

= render :partial => 'tasks', :object => @new_tasks, :locals => {:heading => 'Add a new task', :type => 'new_task'}

