- if @task.state == 'verified'
  == $('#task_#{@task.id}').slideUp("normal", function(){$(this).remove();})
- else
  == $('#task_#{@task.id}').replaceWith("#{escape_javascript(render @task)}")
  == $('#task_#{@task.id}').effect("highlight", {}, 3000)

