body {
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif; }

h2, h3 {
  margin-bottom: 0px;
  padding-bottom: 0px; }

form ul {
  list-style-type: none; }
  form ul.inline li {
    display: inline; }
