%h2 New release #{@release.finished_at.to_s}

%h3 New features:
- if @release.tasks.features.any?
  %ul
    - @release.tasks.features.each do |feature|
      %li= feature.name
- else
  No new features.

%h3 Bug fixes:
- if @release.tasks.bugs.any?
  %ul
    - @release.tasks.bugs.each do |bug|
      %li= bug.name
- else
  No bugs!

