%ul.title
  %li.handle.story_handle{:title => 'drag to reorder'}
  %li.toggle.open{:title => 'show/hide tasks'}
    –
  %li.info{:title => 'click to see more'}
    = link_to '', edit_story_path(story)
  %li.action
    - form_for story, :builder => CustomFormBuilder, :html => {:class => 'ajaxForm'} do |f|
      = story_submit_button(f, story)
  = story.name
  %span.short_description
    = truncate(story.description, :length => 50)
