- if story
  %span{:class => "group color_#{story.id % 30 + 1} group_#{story.id}"}
    - if defined?(task)
      %span= link_to 'x', task_path(task, :group_id => 'remove'), :class => 'delete_group put'
    = story.name
- else
  %span{:class => 'group none'}

