== $('#story_name').val('')
- if @group.valid?
  == #{render_li(@group)}.appendTo($('.groups')).slideDown()
  == $("#group_" + #{@group.id}).draggableGroup();
- else
  == $("#group_#{Story.find_by_name(@group.name).id}").effect('pulsate')

