- if @moved
  == $('#story_#{@story.id}').slideUp("normal", function(){$(this).remove();})
  == #{render_hidden(@story)}.appendTo($('#now_tasks .stories')).slideDown()

== $('.release_border').remove();
== updateReleaseBorder(#{Release.velocity});

