// Main colours
$grey: hsl(224, 12, 18)
$orange: hsl(27, 60, 50)
$blue: hsl(208, 44, 57)

// other colours
$green: hsl(78, 44, 57)
$red: hsl(6, 66, 44)
$purple: hsl(320, 66, 44)
$cyan: hsl(180, 66, 44)

$grey_dark: darken($grey, 10%)
$orange_dark: darken($orange, 10%)
$blue_dark: desaturate(darken($blue, 10%), 10%)
$green_dark: darken($green, 20%)
$red_dark: desaturate(darken($red, 10%), 10%)
$purple_dark: darken($purple, 10%)
$cyan_dark: darken($cyan, 10%)

$grey_light: lighten($grey, 20%)

$primary: #292c34
$primary_dark: darken($primary, 3%)
$primary_darkest: darken($primary_dark, 3%)
$primary_light: lighten($primary, 20%)
$primary_lightest: #E6E1DC

$secondary: #CC7833
$secondary_dark: darken($secondary, 20%)
$secondary_darkest: darken($secondary_dark, 20%)
$secondary_light: lighten($secondary, 20%)
$secondary_lightest: lighten($secondary_light, 20%)

$tertiary: #6195c2
$tertiary_dark: darken($tertiary, 20%)
$tertiary_darkest: darken($tertiary_dark, 20%)
$tertiary_light: lighten($tertiary, 20%)
$tertiary_lightest: lighten($tertiary_light, 20%)

$background: $primary_dark
$text: $primary_lightest
$less-important: #888
$warning: #fe9
$table-border: $primary_light

$input-background: white
$input-border: $primary
$input-border-focused: saturate($input-border, 20%)
$button: $secondary
$button-border: $secondary
$form: $primary_lightest
$code: $green
