%h2 Create Project
%article
  %form{:action => '/projects', :method => :post}
    %ul.inline
      %li
        Project Name:
        %input{:type => 'text', :name => 'name'}
      %li
        %input{:type => 'submit', :value => 'Create'}

