- @releases.each do |release|
  %h3
    %span
      = "Tasks released #{release.finished_at.to_s} - Velocity: #{release.velocity} (features per week)"
  = render :partial => 'tasks/tasks', :object => release.tasks

