- @releases.each do |release|
  = render :partial => 'tasks/tasks', :object => release.tasks, :locals => {:heading => "Tasks released #{release.finished_at.to_s}", :type => 'released', :id => 'released_tasks'}

