!!!strict
%html
  %head
    %title Application | JavaScript Testing Results
    %link{:rel => 'stylesheet', :href='screw.css', :type => 'text/css', :charset => 'utf-8'}
    %script{:type => 'text/javascript', :src => '../../../vendor/plugins/blue-ridge/lib/blue-ridge.js'}

  %body

