%div#login_box
  %h2 Existing Users

  - form_for @user_session do |f|
    %ol
      %li= f.error_messages
      %li
        = f.text_field :email, :title => 'Email'

      %li
        = f.password_field :password, :title => 'Password'

      %li
        = f.submit "Login"

